{% extends "layout.html" %}
{% block title %}
home
{% endblock %}
{% block content %}

<div class="container" id="homepage-heading">
    <h1>Welcome to the used car database</h1><br>
    <h4>Below is a list of all the cars in the database currently</h4><br>
    <h5>To create a new entry, update a cars details or delete a car just click on the associated buttons</h5><br><br>

    <ul class="collapsible popout">
        {% for car in cars %}
        <li>
            <div class="collapsible-header col-s8">
                <div>
                    <a href="{{url_for('update', car_id=car._id)}}" class="waves-effect waves-light btn"><i class="material-icons right">create</i>Update Details</a>
                </div>
                <div>
                    <i class="medium material-icons">arrow_drop_down</i>
                    <span>{{car.car_make}} {{car.car_model}}</span>
                </div>
            </div>

            <div class="collapsible-body" id="dropdown-information">
                <span>
                {{car.category_name}}<br>
                {{car.fuel_type}}<br>
                {{car.engine_size}}<br>
                {{car.car_gearbox_type}}<br>
                {{car.car_mileage}}<br>
                {{car.car_colour}}<br>
                </span>
            </div>
        </li>
        {% endfor %}
      </ul><br><br>
</div>            
{% endblock %}
