<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>


    <!-- Link to the materilize styles -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    
    <!-- Link to the style sheet for the main template of the site -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
</head>

<body id="main">
    <nav class="nav-extended">
        <div class="nav-wrapper blue lighten-3">
            <div class="container">
                <a href="{{ url_for('home') }}" class="brand-logo center"><h2>Homepage</h2></a><br><br>
            </div>
        </div>     
        <div class="center blue lighten-3">
            <a href="{{ url_for('new') }}" class="waves-effect waves-light btn center">New car entry   </a>
            <a href="{{ url_for('delete') }}" class="waves-effect waves-light btn center">   Delete a car</a>
        </div>
    </nav>

    <div class="body-content">
        {% block content %}
        {% endblock %}
        <hr/><br><br>
        <footer class="page-footer blue lighten-3">
            <div class="container" id="footer-copyright">
                © 2020 Milestone three project
            </div> 
        </footer>
    </div>
    <!-- Link to the javascript for materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });
    </script>
</body>

</html>