{% extends "layout.html" %}
{% block title %}
New page 
{% endblock %}
{% block content %}
<div class="container">
    <H3 class="center" >Add a new car to the database</H3>
    <form action="{{ url_for('insert_car') }}" method="POST">


        <!-- Using loops to display a drop down of options, this is used on multiple options on the site -->
        <div class="row">
            <label>Select vehicle type</label>
                <select class="browser-default" id="category" name="category_name">
                    <option value="" disabled selected>Please select one</option>
                    {% for cat in categories %}
                        <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                    {% endfor %}
                </select><br>
        </div>

        <!-- A text box allowing the user to enter in the details of the car. This is used on several of the inputs for this form -->
        <div class="row">
            <label for="">Car make</label>
            <input type="text" id="car_make" name="car_make"><br>
        </div>

        <div class="row">
            <label for="">Car model</label>
            <input type="text" id="car_model" name="car_model"><br>
        </div>

        <div class="row">
            <label>Fuel type test</label>
                <select class="browser-default" name="fuel_type" id="fuel_type">
                    <option value="" disabled selected>Please select one</option>
                    {% for fuel in fuels %} 
                        <option value="{{fuel.fuel_type}}">{{fuel.fuel_type}}</option>
                    {% endfor %}
                </select><br>
        </div>

        <div class="row">    
            <label for="">Engine size</label>
                <select class="browser-default" name="engine_size" id="engine_size">
                    <option value="" disabled selected>Please select one</option>
                    {% for engine in engines %}
                        <option value="{{engine.engine_size}}">{{engine.engine_size}}</option>
                    {% endfor %}
                </select><br>
        </div>        

        <div class="row">
            <label for="">Gearbox type</label>
                <select class="browser-default" name="gearbox_type" id="gearbox_type">
                    <option value="" disabled selected>Please select one</option>
                    {% for gearbox in gearboxes %}
                        <option value="{{gearbox.gearbox_type}}">{{gearbox.gearbox_type}}</option>
                    {% endfor %}
                </select><br>
        </div>        

        <div class="row">
            <label for="">Car Mileage</label>
            <input type="text" id="car_mileage" name="car_mileage"><br>
        </div>

        <div class="row">
            <label for="">Car colour</label>
            <input type="text" id="car_colour" name="car_colour"><br>
        </div>

        <div class="row center">
            <input class="waves-effect waves-light btn center" type="submit" value="Submit new car details">
        </div>
    </form>
</div>
{% endblock %}